<%- include("header") -%>
    <h2>This is the about page</h2>
    <p>I am Ravindran Dhanushkar.I am 22 and and my home town is matale. I had my secondary education at Hindu College Matale, and chose the physical stream for my advanced level. I am qualified at the GCE A/L and now an undergraduate under the Computer Science course at the University of Jaffna.My short time aim is to explore my computing field and to gain knowledge and experience. As a second year student, I have a basic knowledge in web designing, web devoloping, programming and video editing.<br>I eagerly await to empower my skills and experiences.<br>I am acknowledging me on Moblie App developing and I will master it soon.</p>
<%- include("footer") -%>
